@import url(./style.css);

.perfil__container {
  display: flex;
  align-items: center;
  gap: 6px;
}
.perfil__container img {
  border-radius: var(--border-radius-img);
  height: 30px;
  width: 30px;
}

.perfil__container a {
  display: flex;
  max-width: 400px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
