@import url(./style.css);

a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--color-blanco-texto);
}

h1 {
  font-size: var(--tamaño-fuente-h1);
}

h4 {
  color: #525252;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 24px;
}