@import url(./style.css);


.video__container {
    display: grid;
    height: calc(100vh - 120px);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 240px;
    gap: 10px;
    padding: 20px;
    overflow-y: scroll;
    background-color: #121212;
  }
  
  .video__container--cover {
    position: relative;
    transition: 0.5s;
  }
  
  .video--content {
    margin-bottom: 25px;
    position: relative;

    padding: 8px;
    border-radius: 12px;
    
  }
  
  .video--content:hover {
    background-color: #373737;
  }
  
  .video--box {
    position: relative;
    width: auto;
    height: 145px;
    display: block;
  }
  
  .video--box img {
    object-fit: cover;
    border-radius: 12px;
  }
  
  .video__detalle {
    display: flex;
    color: #fff;
    margin-top: 10px;
  }
  
  .canal--logo img {
    position: relative;
    min-width: 35px;
    height: 35px;
    border-radius: 100px;
  }
  
  .detail {
    margin-left: 12px;
  }
  
  .Titulo {
    font-size: 0.9rem;
  }
  
  .canal1 {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #aaa;
  }
  
  .video--cargar {
    display: flex;
    font-size: 0.8rem;
    color: #aaa;
    margin-top: 4px;
    gap: 10px;
  }